<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mic-bbq.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mic-bbq.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mic-bbq</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$mic-bbq</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BbqMicBack.DAL.BBQontext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mic-bbq.database.windows.net,1433;Initial Catalog=MIC-BBQ-DB;Persist Security Info=False;User ID=Stage2018BBQ;Password=Mic2018Bbq;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:mic-bbq.database.windows.net,1433;Initial Catalog=MIC-BBQ-DB;Persist Security Info=False;User ID=Stage2018BBQ;Password=Mic2018Bbq;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BbqMicBack.DAL.BBQontext, BbqMicBack" MigrationConfiguration="BbqMicBack.Migrations.Configuration, BbqMicBack" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BbqMicBack.DAL.BBQontext-Web.config Connection String">
      <ParameterValue>Server=tcp:mic-bbq.database.windows.net,1433;Initial Catalog=MIC-BBQ-DB;Persist Security Info=False;User ID=Stage2018BBQ;Password=Mic2018Bbq;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BbqMicBack.DAL.BBQontext" />
  </ItemGroup>
</Project>